@import "../variables";

.card {
  width: 200px;
  height: 200px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  background: $greyLight;

  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .card-image-container {
      svg {
        width: 32px;
        height: 32px;
      }
    }
  }
}
