@import "../variables";

.paragraph {
  margin: 20px 0;

  font-family: "Ubuntu";
  font-weight: 400;
  font-size: $textNormal;
  color: $greyDark;

  a {
    text-decoration: underline;
    color: $greyDark;
  }
}
