@import "../variables";

.subtitle {
  margin: 30px 0;

  line-height: 30px;
  text-align: center;
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: $textNormal;
  color: $greyDark;

  a {
    text-decoration: underline;
    color: $greyDark;
  }
}
