@font-face {
  font-family: "Ubuntu";
  src: url("../assets/fonts/ttf/Ubuntu-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../assets/fonts/ttf/Ubuntu-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../assets/fonts/ttf/Ubuntu-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
