$white: #ffffff;
$greyLight: #d9d9d9;
$greyDark: #5f5f5f;
$black: #000000;

$primeColor: #db0000;
$graphite: #242424;

$aquamarine: #00db84;
$red: #db0000;
$green: #00db84;
$yellow: #dbc900;

$textHyper: 48px;
$textLarge: 32px;
$textMedium: 24px;
$textNormal: 18px;
$textMini: 14px;
