$light: #f6f6f9;
$primary: #1976d2;
$light-primary: #cfe8ff;
$grey: #eee;
$dark-grey: #aaaaaa;
$dark: #363949;
$danger: #d32f2f;
$light-danger: #fecdd3;
$warning: #fbc02d;
$light-warning: #fff2c6;
$success: #388e3c;
$light-success: #bbf7d0;
$black: #242424;

$lightD: #181a1e;
$greyD: #25252c;
$darkD: #fbfbfb;

$textHyper: 48px;
$textLarge: 32px;
$textMedium: 24px;
$textNormal: 18px;
$textMini: 14px;
